*{
  font-family: "Garamond";
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  border-right: 1px solid black;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-align: right;
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #333;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: orange;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
fieldset{
  margin-left: 27%;
  margin-right: 27%;
  border: 0;
}
.project{
  padding: 20px;
  border-radius: 5px;
}

.project:hover{
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

a{
  text-decoration: none;
  color: black;
}